<app-loader *ngIf="isUserInfoLoading && userInfo==null && isUserRepoLoading"></app-loader>
<div class="container my-5" *ngIf="!isUserInfoLoading && userInfo && !isUserRepoLoading">
  <div class="row my-4">
    <div class="col-md-3">
      <img [src]="userInfo.avatar_url?userInfo.avatar_url:'assets/default.png'" class="rounded-circle" height="150" width="150">
    </div>
    <div class="col-md-9">
      <span id="name">{{ userInfo.login }}</span><br />
      <span class="user-info">{{ userInfo.bio ? userInfo.bio : '(No Bio mentioned)' }}</span><br />
      <span class="user-info"><i class="fa-solid fa-location-dot mx-1"></i>{{ userInfo.location ?userInfo.location : '(No Location mentioned)' }}</span><br />
      <i class="fa-brands fa-square-twitter mx-2"></i><a *ngIf=" userInfo.twitter_username" class="user-info" routerLink="https://twitter.com/{{ userInfo.twitter_username }}">{{userInfo.twitter_username}}</a>
      <span *ngIf="!userInfo.twitter_username">(No Twitter Id present)</span>
    </div>
    <div class="col">
      <a href="{{ userInfo.html_url }}" target="_blank">{{ userInfo.html_url}}</a>
    </div>
  </div>
  <app-repos-item [repos]="userGithubRepo">
  </app-repos-item>
</div>
