.user-info {
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

#name {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-transform: capitalize;
}
